/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CUSTOM PROPERTIES */
:root {
    --bgc-head: #255EE9;
    --bgc-lightgray: #f6f6f6;
    --bgc-darkgray: #23272a;
    --fl-basis-small: 20%;
    --fl-basis-medium: 50%;
    --fl-basis-large: 60%;
    --fl-basis-xlarge: 70%;
    --fl-basis-total: 100%;
    --txt-size-sm: 1.2rem;
    --txt-size-md: 1.4rem;
    --txt-size-lg: 2.7rem;
    --txt-size-xl: 3.5rem;
}

/* UTILITY */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.button {
    margin: 0px 15px;
    border-radius: 25px;
    padding: 10px 10px;
    font-size: 1.1rem;
    padding: 15px 20px;
}

.button.white {
    color: #000;
    background-color: #fff;
}

.button.gray {
    color: #fff;
    background-color: var(--bgc-darkgray);
}

.button.purple {
    color: #fff;
    background-color: #8ea1e1;
}

.d-flex {
    display: flex;
}

.d-column {
    flex-direction: column;
}

.border {
    border: 2px dashed black;
}

.h-50 {
    height: 50px;
}

.mtop-10{
    margin-top: 10px;
}

.flex-reverse {
    flex-direction: row-reverse;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.center {
    align-items: center;
    justify-content: center;
}

.f-bas-sm {
    flex-basis: var(--fl-basis-small);
}

.f-bas-md {
    flex-basis: var(--fl-basis-medium);
}

.f-bas-lg {
    flex-basis: var(--fl-basis-large);
}

.f-bas-xl {
    flex-basis: var(--fl-basis-xlarge);
}

.f-bas-tot {
    flex-basis: var(--fl-basis-total);
}

body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
}

#ending-section {
    flex-basis: 50%;
}

.single-title {
    font-size: 2.5rem;
    background-image: url(../img/stars.svg);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 40px 0px;
}

/* COLORS BGC */
.bgc-lgray {
    background-color: var(--bgc-lightgray);
}

.bgc-dgray {
    background-color: var(--bgc-darkgray);
}

/* HEADER */
header {
    background-color: var(--bgc-head);
    padding-top: 10px;
}

#header-menu {
    align-items: center;
    justify-content: center;
}

.navbar {
    text-align: center;
}

/* LIST */
ul li {
    color: #fff;
    display: inline;
    list-style-type: none;
    padding: 10px 20px;
    font-weight: 600;
}

a {
    color: #fff;
    text-decoration: none;
}

.login {
    text-align: right;
}

.jumbotron {
    background-color: var(--bgc-jumbo-box);
    height: 550px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.jumbo-box {
    height: 400px;
    text-align: center;
}

.head-text {
    color: #fff;
    padding: 30px 0px;
}

.main-title {
    color: #fff;
    font-size: var(--txt-size-xl);
    font-weight: 700;
}

.main-text {
    font-weight: 400;
    font-size: var(--txt-size-md);
    padding: 20px 50px;
}

/* MAIN */
.block-box {
    min-height: 550px;
}
.block {
    height: 500px;
}

.picture {
    height: 100%;
    flex-basis: 60%;
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
}

.caption {
    padding: 40px 70px;
    height: 100%;
    flex-basis: 40%;
}

.caption h2 {
    margin-bottom: 25px;
    font-size: var(--txt-size-lg);
    font-weight: 800;
}

.caption p {
    font-size: var(--txt-size-md);
    font-weight: 400;
}

/* BIG-BLOCK */
.big-box {
    height: 1000px;
    padding-bottom: 150px;
}

/* BIG FOOTER */
#big-footer {
    padding: 50px 0px;
}
.social {
    height: 100%;
    flex-basis: 30%;
    padding: 20px;
    text-align: left;
}

.social h2 {
    font-size: var(--txt-size-lg);
    color: #7289da;
}

.social img {
    height: 20px;
    vertical-align: middle;
}

.social-link a {
    padding-top: 20px;
    padding-right: 20px;
}

.lang-select {
    color: #fff;
    padding: 20px 0px;
}

.col-box {
    height: 100%;
}

.column {
    height: 100%;
    padding: 25px;
    flex-basis: calc(var(--fl-basis-total)/4);
}

.map-title {
    color: #748bdc;
}

/* LITTLE FOOTER */
.foot-box {
    height: 90px;

}

.little-foot {
    padding: 60px 0px;
    border-top: 2px solid #3e4968;
    align-self: flex-end;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}